[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
django-extensions = "*"
djangorestframework-xml = "*"
djangorestframework-csv = "*"
djangorestframework-yaml = "*"
django-filter = "*"
mysqlclient = "*"


[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
